@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,200&family=Roboto+Condensed&display=swap');

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(29,27,70,1) 0%, rgba(51,152,110,1) 39%, rgba(52,221,255,1) 100%);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.amor {
    width: 40%;
    border-radius: 130%;
}

.amor:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #6ce8f1;
    -webkit-box-shadow: 0px 0px 15px 15px #9569cf;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.imagenes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imagenes-container img {
    margin: 10px; 
}

.img{
    width: 200px;
    border-radius: 20px;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: #ffcccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.title {
    color: #ff3366;
    font-size: 24px;
    margin-bottom: 10px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ff3366;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
}

.login-button {
    background-color: #ff3366;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #ff0055;
}

header {
    background-color: #ffcccc;
    padding: 20px;
}

h1 {
    color: #ff3366;
}

p {
    font-size: 18px;
}

.mensaje {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #ffcccc;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}